@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
/* center container in the middle */

:root{
  --pink-a: #f55151;
  --pink-p: #67d0d0;
  --pink-s: #f55151;
  --pink-h: rgb(187, 68, 68);
  --dark-p: #4e4e4e;
  --white-p: #ffffff;
}
html {
  display: grid;
  min-height: 100%;
  padding:0px;
}

body {
  display: grid;
  font-family: "Lato", sans-serif, sans-serif;
  text-transform: uppercase;
}


.header{
    background-color: var(--white-p);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 99;
    font-size: larger;
    
}

.header>img{
  padding: 10px;
  width: 120px;
  height: auto;
  margin-top: 0px;
}
.header>nav>ul{
  display: flex;
  gap: 15px;

}
li{
  list-style: none;
  cursor: pointer;
 }
a{
  color: var(--dark-p);
  text-decoration: none;
}

.App{
  margin-top: 50px;
  background: url("./assets/wave-haikei_4.svg") fixed bottom;
  background-size: cover;
  height:85vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items:start;
  justify-items: center;
  padding-top: 10vh;
  padding-left: 20px;
}

.welcome{
  font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  /* text-shadow: 2px 2px var(--pink-a); */
}
.now{
  text-align: center;
  font-size: 2rem;
  padding: 25px;
  color: var(--pink-p);
  background-color: var(--white-p);
  border-radius: 45px;
  border: 4px solid var(--pink-p);
  text-shadow: none;

}

.kid{
  width: 80%;
  overflow: hidden;
}

.kid>img{
  width: 100%;
  border-radius: 20px;

}



.cart{
  background-color: var(--pink-a);
  color: var(--white-p);
  border-radius: 3px;
  padding: 0px 5px 5px;
}

.contain{
  background-color: #67d0d0;
  margin-top: 70px;

}
.shop{
    background: var(--pink-p); 
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
}
/* cart sticky */
.cartPage>h1{
  color: var(--white-p);
  margin: 10px;
}

/* cart item */
.cartItem{
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: 5px;
  align-items: center;
  margin: 10px;
  background-color: var(--white-p);
  border-radius: 5px;
}
.item-button{
  align-self: start;
}

.small-image  {
  width: 80%;
}
.small-image>img {
  width: 100%;
}
.remove {
  margin: 0px;
  border-radius: 0px;
}
.input{
display: flex;
flex-direction: row;
font-size: 1em;
color: var(--dark-p);
margin-top: 5px;
font-weight:600;
}
.input>input {
  width: 60px;
  text-align: center;
  margin: -2px 0px 5px 5px;
}

.cartPage{
  position: fixed;
  background-color: var(--pink-p);
  width: 40%;
  height: 100%;
  right: 0%;
  margin-top: 70px;
}


.container {
  position: relative;
  /* margin: auto; */
  overflow: hidden;
  width: 450px;
  height: 350px;
  background: var(--white-p);
  box-shadow: 5px 5px 15px rgba(186, 126, 126, 0.5);
  border-radius: 10px;
}

p {
  font-size: 0.6em;
  color: var(--pink-h);
  letter-spacing: 1px;
}

h1 {
  font-size: 1.2em;
  color: var(--dark-p);
  margin-top: -5px;
}

h2 {
  color: var(--pink-s);
  margin-top: -5px;
}

img {
  width: 290px;
  margin-top: 47px;
}



.product {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 10%;
  left: 60%;
}

.desc {
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 17px;
  color: var(--dark-p);
  font-size: 0.7em;
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;
}

button {
  background: var(--pink-s);
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--white-p);
  cursor: pointer;
}
button:hover {
  background: var(--pink-h);
  transition: all 0.4s ease-in-out;
}

li:hover{
  text-decoration: underline;
  
}

.add {
  width: 85%;
}

@media screen and (max-width: 700px) {
  .App {
    grid-template-columns: 1fr;
  }

  .cartItem{
    grid-template-columns: 1fr auto;
    justify-items: center;
  }

  .item-button{
    grid-column-start: 2;
    grid-row-start: 1;
  }

}

@media screen and (max-width: 535px) {
  .cartItem{
    margin-left: 0;
    margin-right: 0;
  }
}

/* 
footer {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 10px;
}
footer p {
  letter-spacing: 3px;
}
footer a {
  color: #ffffff;
  text-decoration: none;
}
footer a:hover {
  color: #7d7d7d;
} */